@font-face {
  font-family: "iconfont"; /* Project id 3495330 */
  /* 在url里修改字体图标的路径 */
  src: url('../fonts/iconfont.woff2?t=1656747005464') format('woff2'),
       url('../fonts/iconfont.woff?t=1656747005464') format('woff'),
       url('../fonts/iconfont.ttf?t=1656747005464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-page-configuration:before {
  content: "\e678";
}

.icon-historical-data:before {
  content: "\e67a";
}

.icon-examine:before {
  content: "\e6a4";
}

